.future-forecast{
    background: rgba(24,24,27,0.8);
    padding: 30px;
    /*position: fixed;*/
    bottom: 0;
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}
.weather-forecast{
    display: flex;
    width: 80%;
    margin: auto;
}
.weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin: 0 5px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.future-date{
    padding: 5px 15px;
    background: #3C3C44;
    border-radius: 50px;
    text-align: center;
}
.min-max-temp{
    font-weight: 100;
    font-size: 18px;
}